table {
   border-collapse: collapse; 
   margin: 25px 0; 
   font-size: 1em; 
   font-family: sans-serif; 
   min-width: 450px; 
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 table thead tr { background-color: #c5850f; color: #ffffff; text-align: middle; }

 table th, table td { padding: 12px 15px; }
 
 tbody tr { border-bottom: 1px solid #dddddd; }

 table tbody tr:nth-of-type(even) { background-color: #f3f3f3; }

 table tbody tr:last-of-type { border-bottom: 2px solid #7da70b; }
